.mp {
  h1 {
    font-size: 1.8rem;
    margin-bottom: 50px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 300;
  }
  .mp-holder {
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
  }
}
