// colors
// $bg-color: #f6f6f6;
$bg-color: #ffff;
$white: #ffff;
// $base-color: #72b9b3;
$base-color: #c4a97c;
$light-base-color: #ede5d7;
$mid-base-color: #ffe5bb;
$darker-base-color: #a98956;
// $base-color-two: #f6bec3;
$base-color-two: #c4a97c;
$black: #000;
$light-gray: #fafafa;
$link-color: #a8aab2;

//fonts
$base-font: "Work Sans", sans-serif;


//media screen
$tinymobile: "only screen and (max-width : 320px)";
$smallmobile: "only screen and (max-width : 350px)";
$smalltablet: "only screen and (max-width : 600px)";
$tablet: "only screen and (max-width : 768px)";
$ipadpro: "only screen and (max-width : 1024px)";